.addModal {
    article {

        header {

            div {
                display: flex;
                justify-content: space-between;
            }

            h3 {
                text-align: center;
                font-size: 26px;
                margin-top: 10px;
            }
        }

        section {
            padding: 0px 106px;

            form {
                display: flex;
                flex-direction: column;
                
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 8px;
                    background-color: #E8F1F6;
                    border-radius: 4px;
                    padding: 16px 8px;
                    margin-bottom: 10px;

                    img {
                        height: 60px;
                    }

                    label {
                        --button-height: 34px;

                        height: var(--button-height);
                        background-color: #CBD6DC;
                        display: flex;
                        align-items: center;
                        padding: 0 34px;
                        border-radius: calc(var(--button-height) / 2);
                        font-size: 14px;
                        color: #306685;
                        cursor: pointer;
                    }

                    p {
                        font-size: 10px;
                    }

                    .previewImage {
                        width: 128px;
                        height: 168px;
                    }
                }

                > label {
                    margin: 20px 0 10px;
                }

                > input,
                > select {
                    height: 50px;
                    border: none;
                    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.09);
                }

                > select {
                    margin-bottom: 15px;
                }

                hr {
                    width: 100%;
                    background-color: #b3b3b3;
                    margin: 32px 0;
                }

                button {
                    align-self: center;
                }

                .filter-btn-inactive {
                    background-color: #A7A7A7;
                    color: white;
                    border: none;
                    cursor: not-allowed;
                }
            }
        }
    }
}
