.editModal {    
    height: 688px;
    
    article {
        display: flex;
        align-items: center;
        flex-direction: column;
        
        header {
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;

            button {
                align-self: flex-end;
            }
            
            h3 {
                font-size: 26px;
            }
        }
        
        section {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem 0.5rem;
            padding: 3rem 0;
            margin: 0 6.5rem 2.5rem;
            border-bottom: 1px solid #b3b3b3;
            
            figure {
                position: relative;
                width: 5rem;
                
                img {
                    width: 100%;
                }
                
                button {
                    position: absolute;
                    top: 6px;
                    right: 6px;
                    padding: 0;
                    width: 1.125rem;
                    height: 1.125rem;
                    background-color: black;
                    border: none;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.25rem;
                    
                    i {
                        margin: 0;
                    }
                }
            }
        }

    }
}
