.editModal {
    width: 630px;
    height: 688px;
    border: none;
    border-radius: 5px;

    h3 {
        font-size: 26px;
    }

    .closeModal {
        background: none;
        border: none;
	    cursor: pointer;
    }
}

.editModal[open] {
    display: flex;
    align-items: center;
    flex-direction: column;
}
