.editModal {
    width: 630px;
    height: 688px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;

    h3 {
        font-size: 26px;
    }
}
