dialog {
    width: 650px;
    border: none;
    border-radius: 5px;
    
    &::backdrop {
        background-color: rgba(0,0,0,0.2);
    }

    article {
        header {
            button {
                background: none;
                border: none;
                font-size: 20px;
                cursor: pointer;
                width: 1.5rem;
                height: 1.5rem;
                padding: 0;
                margin: 0;
                font-size: 1.25rem;
            }
        }
    }

    footer, form {
        button {
            width: 14.75rem;
            height: 2.5rem;
            border:none;
            background-color: #1d6154;
            border-radius: 1.25rem;
            font-size: 0.75;
            color: white;
            font-family: Syne, sans-serif;
            cursor: pointer;
        }
    }
}