/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}
.edition_mode {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	color: white;
	background-color: black;
	max-width: 100%;
	height: 45px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}

.title_project {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.modal_style {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
}

.modal_wrapper {
	border-radius: 10px;
	background-color: #FFFEF8;
	width: 630px;
	height: 688px;

}

.modal_gallery figure img {
	width: 76.86px;
	height: 102.57px;
	margin-bottom: 20px;
	/* position: absolute; */
}

.modal_gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: 95px;
	margin-right: 50px;
	
	
	
}

.modal_gallery figure i {
	/* position: relative; */
}

.h3_modal {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 50px;
}

.i_close_modal {
	background-color: #FFFEF8;  
}

.js_modal_close {
	background-color: #FFFEF8;
	border: #FFFEF8;
	margin-left: auto;
}

.close_container {
	display: flex;
	margin-top: 30px;
	margin-right: 30px;
	
}

h3 {
	font-size: 26px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}

a {
	color: black;
	text-decoration: none;
}

#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#portfolio {
	margin-top: 10em;
}

#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
	margin-top: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact, #login {
	width: 50%;
margin: auto;
}
#contact > *, #login > * {
	text-align: center;

}
#contact h2, #login h2{
	margin-bottom: 20px;
}
#contact form, #login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input, #login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
	margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}


input[type="submit"] {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

.filters {
	display: flex;
	justify-content: center;
	gap: 10px;
	margin: 50px;
	
}

.filterbutton {
	font-family: 'Syne';
	font-weight: 700;
	color: #1D6154;
	background-color: #FFFEF8;
	text-align: center;
	padding: 6px 10px 6px 10px;
	border-radius: 60px ;
	border-color: #1D6154;
	border-width: 1px;
}

.filterbutton_selected {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	text-align: center;
	border-radius: 60px ;
	border-color: #1D6154;
	border-width: 1px;
}

.loginbutton {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 200px;
	margin-left: 180px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 6px 10px 6px 10px;
	border-radius: 60px ;
	border-color: #1D6154;
	border-width: 1px;
}

.forgetpassword {
	color:black;
	text-decoration: underline;
}

#login {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 200px;
	margin-bottom: 200px;

}

footer {
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

